*.pyc
.vscode
.idea
.pytest_cache
__pycache__/
**/__pycache__/
output
outputs
build
dist
data
datasets
all-data
all_task_data
eval
tmp
logs
*.ply
*.pth
*.pt
*.ckpt
*.npz
*.npy
*.pyd
*.so
*.dll
*.lib
*.exp
*.obj
*.log
*.out
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
*.zip
*.rar
*.7z
*.docx
**/PKG-INFO
# submodules
*.png
**/tmp
